/**************************************************** 
                    Global Styles
 *****************************************************/

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  line-height: 1.5em;
}

html {
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --background-color: #f8f8f8;
  --revolver: #ff5457;
  --revolver-hover: #ff0101;
  --revolver-red: rgba(255, 73, 77, 1);
  --revolver-gradient: linear-gradient(
    to right,
    var(--revolver-red),
    rgba(255, 111, 110, 1)
  );
  --revolver-purple: #8e7bff;
  --revolver-box: #ff6e6d;
  --revolver-bright: #f53838;
  --slider-1-bg: #a9bba8;
  --slider-1-color: #92a591;
  --slider-1-rarity: #9867ef;
}

body {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none;
}

.nav-a:hover .nav-svg path {
  fill-opacity: 100%;
  stroke-opacity: 100%;
}

.nav-svg {
  align-self: center;
}

.nav-a:hover .nav-svg .rvr-path {
  fill-opacity: 45%;
}

.nav-blur {
  border-radius: 10px;
  opacity: 0.06;
  background: #0D1025;
  filter: blur(57px);
}

#navButton {
  position: relative;
  z-index: 1000; 
}


/*--------------- SLIDER --------------- */

.gray-circle {
  animation: backgroundAnimation 1.5s ease-in-out forwards, grayAnimation 1.5s ease-in-out forwards;
  background: #E7E7E8;
  transform-origin: center;
  transform: translateY(100%);
  opacity: 0;
}

.red-circle {
  background: var(--revolver-gradient);
  animation: redAnimation 1.5s ease-in-out forwards;
  transform-origin: center;
  transform: scale(0);
}

@keyframes grayAnimation {
  0% {
    opacity: 0;
  }
  50% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;

  }
}

@keyframes redAnimation {
  0% {
      transform: scale(0) translateY(100%);
      opacity: 0;
  }
  25% {
      opacity: 0;
  }
  50% {
      transform: scale(1.5) translateY(0);
      opacity: 1;
  }
  100% {
      opacity: 0;
      transform: scale(0) translateY(0);
  }
}


@keyframes backgroundAnimation {
  0% {
      background: #E7E7E8;
      backdrop-filter: blur(0px); 
  }
  99% {
      background: #E7E7E8;
      backdrop-filter: blur(0px); 
  }
  100% {
      background: rgba(206, 206, 206, 0.25);
      backdrop-filter: blur(4.150000095367432px);
  }
}




/* ----------------- TYPOGRAPHY ----------------- */

h1,
h2,
h3,
h4,
p {
  font-style: normal;
  line-height: normal;
  color: #000;
}

h1 {
  font-size: 5.5em;
  font-weight: 700;
}

h2 {
  font-size: 3em;
  font-weight: 700;
}

h3 {
  font-size: 1.2em;
  font-weight: 900;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 0.5em 0;
}

h4 {
  font-size: 2.5em;
  font-weight: 700;
}

h5 {
  font-size: 1.25em;
  font-weight: 700;
}

p {
  color: #828282;
  font-size: 1em;
  font-weight: 500;
}

/* ----------------- MAIN/HERO ------------------ */

.hero {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding: 1em;
  z-index: 1;
  transition: all ease-in-out 0.2s;
}

.title img {
  width: 100%;
  height: auto;
  margin-bottom: -10px;
}

.hero-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8em 0.8em;
  width: 12em;
  background: rgba(227, 224, 221, 0.25);
  border: 1px solid rgba(175, 175, 175, 0.25);
  backdrop-filter: blur(4.15px);
  border-radius: 38px;
  font-size: 20px;
  font-weight: 400;
  z-index: 1;
  margin-top: 1em;
  text-align: center;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.4);
  text-decoration: none;
}

.hero-button a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.4);
}

.hero button a img {
  margin-left: 0.8em;
  width: 18px;
  height: 15px;
  color: inherit;
}

.hero button:hover,
.hero button:focus {
  border-radius: 38px;
  border: 1px solid rgba(175, 175, 175, 0.25);
  background: rgba(193, 185, 177, 0.25);
}

.title h3 {
  color: black;
}

/* ---------------- LILY SECTION ---------------- */

.wildhart {
  max-width: 9.5em;
  animation: bobbing 3s ease-in-out infinite;
  align-self: flex-end;
}

@keyframes bobbing {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}

.lily-container {
  height: 11em;
  display: flex;
  justify-content: end;
  padding: 1em;
}

/* --------------- UNDERDOG SECTION --------------- */

.dog {
  transition: all ease-in-out 0.2s;
}

/* ------------------ PAGE ------------------------- */
/* --------------- REVOLVER.AG  -------------------- */

.revolver-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../images/png/background/swiggles.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
  opacity: 0;
  transition: opacity 1s ease;
}

.revolver-background.show {
  opacity: 1;
}


/* ------------------ PAGE ------------------------- */
/* --------------- NFT SLIDER  -------------------- */


/**************************************************** 
                    Desktop Styles
 *****************************************************/

@media screen and (min-width: 1026px) {

  /* --------------- UNDERDOG SECTION --------------- */

  .dog {
    position: fixed;
    bottom: 0;
    left: -10em;
    width: 40%;
    z-index: -2;
  }

  /* ------------------ MAIN/HERO ------------------- */

  .hero {
    max-width: 1300px;
    padding-top: 10em;
    margin: 0 auto;
    z-index: 1;
  }

  .title h3 {
    font-size: 2em;
    transition: all ease-in-out 0.2s;
  }

  /* ----------------- LILY SECTION ------------------ */

  .wildhart {
    position: absolute;
    top: 18em;
    right: 10em;
    max-width: 18em;
    transition: all ease-in-out 0.3s;
  }
}

/**************************************************** 
                Special Desktop Styles
 *****************************************************/

@media only screen and (max-width: 2200px) and (min-width: 931px) {
  .wildhart {
    position: absolute;
    top: 8em;
    right: 5em;
    max-width: 15em;
  }

  .hero {
    max-width: 900px;
    padding: 7em 1em 1em 1em;
  }

  .dog {
    min-width: 800px;
  }
}

@media only screen and (max-width: 1700px) and (max-height: 1224px) {
  .dog {
    opacity: 5%;
  }
}

/**************************************************** 
                    Mobile Styles
 *****************************************************/

@media screen and (max-width: 1025px) {
  /* ----------------- STRUCTURE ----------------- */

  body {
    line-height: 1.5em;
    display: block;
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
  }

  /* --------------- UNDERDOG SECTION --------------- */

  .underdog {
    padding: 1em 1em 0 1em;
    display: flex;
    bottom: -1em;
    left: -10em;
    z-index: -1;
    position: fixed;
  }

  .dog {
    min-width: 600px;
  }
}

@media screen and (max-width: 930px) and (min-height: 50px) and (max-height: 630px) {
  .dog {
    display: none;
  }

  .hero {
    width: 600px;
    padding: 0 1em;
    margin-top: -8em;
  }

  .lily-container {
    padding: 0 1em 0 0;
  }
}

@media screen and (max-width: 780px) and (min-width: 330px) and (max-height: 630px) {
  .wildhart {
    display: none;
  }
}
